<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/variableParameter_2/src/cys/gh/VariableParameter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cys.gh.VariableParameter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="variableParameter_2"/>
</launchConfiguration>
