<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/enum_5/src/cys/gh/simulateEnumByGeneralClass_4/WeekDay.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cys.gh.simulateEnumByGeneralClass_4.WeekDay"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="enum_5"/>
</launchConfiguration>
